footer
	ul.social-links
		li
			a(href="https://github.com/andrewteeoh") Github
		li
			a(href="https://www.linkedin.com/in/andrewmtio") LinkedIn
		li
			a(href="https://twitter.com/andrewteeoh") Twitter

	ul.pokemon
		li Bulbasaur
		li Ampharos
		li Gallade
