header
	nav
		ul.navigation-list
			li.navigation-list__item
				a(href="/") Home
			li.navigation-list__item
				a(href="/AndrewTio_Resume.pdf") Resume
			//- li.navigation-list__item
			//- 	a(href="/recommendations") Recommendations