extends layout

block content

	.feature
		.information
			img.profile-picture(src="/images/profile-pic.jpg")

			h1.heading Andrew Tio

			.description
				p Software Engineer
				p Gamer

			ul.links
				li.links__item.github
					a.links__anchor(href="https://github.com/andrewteeoh")
						i.fa.fa-github-square
				li.links__item.linkedin
					a.links__anchor(href="https://www.linkedin.com/in/andrewmtio")
						i.fa.fa-linkedin-square
				li.links__item.twitter
					a.links__anchor(href="https://twitter.com/andrewteeoh")
						i.fa.fa-twitter-square