section.portfolio
	.portfolio-section.ign
		img.logo(src="/images/portfolio/ign/ign_logo.png")
		.description This is the stuff I did at IGN and this is all filler text like Lorem Ipsum but I'm just too lazy to go and copy it right now
		.screenshots
			img(src="/images/portfolio/ign/ign_gamepage.png")
			img(src="/images/portfolio/ign/ign_comicpage.png")
