extends ../layout

block scripts
	script(type="text/javascript", src="https://fb.me/react-with-addons-0.13.3.min.js")
	script(type="text/javascript", src="https://fb.me/JSXTransformer-0.13.3.js")
	script(type="text/jsx", src="/js/anime.js")

block content
	#now-watching
	#recommended

	script.
		var anime = !{JSON.stringify(anime)}

