html
  head
    title
    link(rel='stylesheet', href='/stylesheets/moving-tiles.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.3.min.js', integrity='sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=', crossorigin='anonymous')
  body
    .title Moving Tiles
    .container.moving-tiles1
      each image in images
        .tile(class='#{image.color}')
          img.tile__image(src=image.src)
    .container.moving-tiles2
      each image in images
        .tile(class='#{image.color}')
          img.tile__image(src=image.src)
    script(type='text/javascript', src="/js/moving-tiles.js")